@import "@/sass/colors";
.desktop-header {
  position: fixed;
  height: 64px;
  z-index: 9999;
  width: 100%;
  background-color: white;
  .nav-bar {
    max-width: 1142px;
    width: 95%;
    margin: auto;
  }
  .logo {
    width: 100px;
    height: 64px;
    position: relative;

    img {
      width: 100px;
      height: 64px;
      transform: scale(1);
      object-fit: contain;
      position: absolute;
    }
  }

  .desktop-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
  }
  .desktop-button {
    
  }
  :global {
    .ant-layout-header {
        padding: 0;
      display: flex;
      justify-content: space-between;
      background-color: white;

      .ant-menu {
        .ant-menu-submenu-active {
          &::after {
            border-bottom-color: $ui-svg-light-50 !important;
          }
        }

        .ant-menu-submenu-open {
          &::after {
            border-bottom-color: $ui-svg-light-50 !important;
          }
        }
      }

      .ant-menu-item {
        display: flex;
        align-items: center;
      }

      .ant-menu-item-active {
        &::after {
          border-bottom-color: $ui-svg-light-50 !important;
        }
      }

      .ant-menu-item-icon {
        width: 24px !important;
        height: 24px !important;
      }

      .ant-menu-title-content {
        span,
        a {
          font-size: 1rem;
          font-weight: 400;
          font-family: "Anton", sans-serif;
        }
      }
    }
  }
}

.nav-section{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 64px;
    width: 100%;
    padding: 0 10px;
    z-index: 999999;
    .breadcrumb{
        width: 30px;
        height: 30px;
        cursor: pointer;
    
        path{
          stroke: $ui-action-primary-80;
        }
      }
    
      .logo {
        width: 100px;
        height: 64px;
        cursor: pointer;
    
        img {
          width: 100px;
          height: 64px;
          transform: scale(1);
          object-fit: contain;
          position: absolute;
        }
      }
}

.mobile-header{
    scroll-behavior: smooth;
    overflow: scroll;
    position: fixed;
    height: 64px;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    background-color: white;
    .nav-bar {
        max-width: 1142px;
        width: 100%;
        // margin: auto;
        margin-top: 64px;
        height: 100%;

        :global {
          .ant-layout-header {
              padding: 0;
            display: flex;
            width: 100%;
            justify-content: space-between;
            background-color: white;
      
            .ant-menu {
              .ant-menu-submenu-active {
                &::after {
                  border-bottom-color: $ui-svg-light-50 !important;
                }
              }
      
              .ant-menu-submenu-open {
                &::after {
                  border-bottom-color: $ui-svg-light-50 !important;
                }
              }

              .ant-menu-submenu-expand-icon{
                width: 20px;
              }
            }
      
            .ant-menu-item {
              display: flex;
              align-items: center;
            }
      
            .ant-menu-item-active {
              &::after {
                border-bottom-color: $ui-svg-light-50 !important;
              }
            }
      
            .ant-menu-item-icon {
              width: 24px !important;
              height: 24px !important;
            }
      
            .ant-menu-title-content {
              span,
              a {
                font-size: 1rem;
                font-weight: 400;
                font-family: "Anton", sans-serif;
              }
            }
          }
        }
    }
}

// .openMenu{
//   transform: translateY(0);
// }

// .closeMenu{
//   transform: translateY(-100%);
// }



@media screen and (max-width: 860px) {
    .desktop-header {  
        .nav-bar {
            width: 90%;
          }    
        .desktop-menu {
            display: none;
        }

        .desktop-button {
            display: none;
        }
      }
}
