//primary action color
$ui-action-primary-100 : #000f2b;
$ui-action-primary-90 : #00143b;
$ui-action-primary-80 : #001A4A;
$ui-action-primary-70 : #002468;
$ui-action-primary-60 : #002f87;


$ui-action-primary-50 : #001A4A;
$ui-action-primary-40 : #4f8cff;
$ui-action-primary-30 : #91b7ff;
$ui-action-primary-20 : #57c2b4;
$ui-action-primary-10 : #f1f6ff;


//secondary actions colors
$ui-action-secondary-100 : #00121b;
$ui-action-secondary-90 : #01293c;
$ui-action-secondary-80 : #01405d;
$ui-action-secondary-70 : #016d9e;
$ui-action-secondary-60 : #029ae0;


$ui-action-secondary-50 : #9bdffe;
$ui-action-secondary-40 : #9bdffe;
$ui-action-secondary-30 : #bae9fe;
$ui-action-secondary-20 : #d8f3ff;
$ui-action-secondary-10 : #f6fcff;

//Text Colors - Background colors
$ui-text-neutral-50: #0b0c10;
$ui-text-neutral-40: #282b37;
$ui-text-neutral-30: #6b7587;
$ui-text-neutral-20: #9ba3b4;
$ui-text-neutral-10: #fcfcfc;

//Surface Colors - background colors
$ui-surface-gradient-30: linear-gradient(180deg, #ffffff 0%, #ecf7fd 100%);
$ui-surface-gradient-20: linear-gradient(145deg, #ffffff 3.20%, #dee7f8 97.5%);
$ui-surface-gradient-10: linear-gradient(199deg, #ffffff 12.6%, #eff2f8 89%);

$ui-surface-light-50: #dde2ec;
$ui-surface-light-40: #edf0f6;
$ui-surface-light-30: #f3f6fc;
$ui-surface-light-20: #f8faff;
$ui-surface-light-10: #ffffff;

$ui-svg-light-50: #57c2b4;

