

$container-width: 1142px;
$dimension-spacing-xxs: 0.8rem;
$dimension-spacing-xs: 1.6rem;
$dimension-spacing-sm: 2rem;
$dimension-spacing-md: 3.2rem;
$dimension-spacing-lg: 4.8rem;
$dimension-spacing-xl: 7.2rem;
$dimension-spacing-xxl: 10rem;
$dimension-spacing-xxxl: 14rem;


