@import '@/sass/colors';
.faq-section{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10rem 0; 
    background-color: $ui-action-primary-10;

    .hero-lottie{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .faq-content{
        z-index: 2;
        width: 95%;
        min-width: 700px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 1142px;
        gap: 2rem;
    }

    .title-section{
        .title{
            margin: 0;
            font-size: 3rem;
            color: $ui-text-neutral-50;
        }
    }
    .list-block{
        margin-top: 3rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        flex-wrap: nowrap;
        align-items: flex-start;
    }
}

@media screen and (max-width: 768px) {
    .faq-section{
        .faq-content{
            width: 90%;
            min-width: 90%;
        }
    
        .title-section{
            .title{
                text-align: center;
                font-size: 3rem;
            }
        }
    }
}