@import "@/sass/colors";
$socialIconsSize : 3vh;

.footerSection{
    padding: 0 50px;
    margin-top: 100px;
    position: relative;
    z-index: 0;
    width: 100vw;
    height: 200px;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $ui-action-primary-10;

    .footer-divider{
        margin-top: -300px;
    }

    .links{
        margin-top: 0.8rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2vw;
        width: 100%;

        a{
            font-size: 2.5vh;
            letter-spacing: 0.06em;
            font-family: "Anton";
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            color: $ui-text-neutral-50;

            &:hover{
                transform: scale(1.2);
            }
        }
    }

    .social-row{
        width: 95%;
        margin: auto;
        max-width: 1142px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            width: 200px;
            height: 120px;
            

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                transform: scale(1);
            }
        }
    }

    .socials{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        // width: 100%;

        .socialLink{
            margin-top: 0.8rem;
            width: $socialIconsSize;
            height: $socialIconsSize;
            transition: all 0.3s ease-in-out;

            &:hover{
                transform: scale(1.3);
            }

            svg{
                width: 100%;
                height: 100%;
                fill: $ui-action-primary-80;
            }

            &:nth-child(1){
                width: calc($socialIconsSize + 7px);
                height: calc($socialIconsSize + 7px );
            }

            &:nth-child(2){
                width: calc($socialIconsSize + 7px);
                height: calc($socialIconsSize + 7px );
            }

            &:nth-child(3){
                width: calc($socialIconsSize + 10px);
                height: calc($socialIconsSize + 10px );
            }

            &:nth-child(4){
                width: calc($socialIconsSize + 2px);
                height: calc($socialIconsSize + 2px);
            }
        }
    }
}


@media screen and (max-width: 1024px) {
    .footerSection{
        .links{
            display: none;
        }

        // display: none;
    }
}


@media screen and (max-width: 480px) {
    .footerSection{
        // display: none;

        .social-row{
            flex-direction: column;
            gap: 1rem;

            .logo{
                width: 150px;
                height: 90px;
            }
        }
    }
}